<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="fr.obeo.dsl.arduino.branding.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="fr.obeo.dsl.arduino.branding.application"
            name="Arduino Designer">
         <property
               name="appName"
               value="Arduino Designer">
         </property>
          <property name="preferenceCustomization" value="plugin_customization.ini"/>
          <property
                name="aboutImage"
                value="icons/about.gif">
          </property>
          <property
                name="aboutText"
                value="Arduino Designer&#x0A;&#x0A;Version  1.0.0&#x0A;&#x0A;&#x0A;Copyright (c) 2005-2013 Obeo. All Rights Reserved.&#x0A;Viewpoint Specification : Copyright (c) 2005-2013 Thales.&#x0A;&#x0A;Visit http://www.obeo.fr">
          </property>
          <property
                name="windowImages"
                value="icons/logo_16.png,icons/logo_32.png,icons/logo_48.png,icons/logo_64.png,icons/logo_128.png">
          </property>
          <property
                name="startupForegroundColor"
                value="000000">
          </property>
          <property
                name="startupMessageRect"
                value="7,308,458,18">
          </property>
          <property
                name="startupProgressRect"
                value="0,328,458,18">
          </property>
      </product>
   </extension>

</plugin>
