<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="fr.obeo.dsl.arduino.commands.NewSketchHandler"
            id="fr.obeo.dsl.arduino.commands.newSketch"
            name="New sketch">
      </command>
      <command
            defaultHandler="fr.obeo.dsl.arduino.commands.OpenSketchHandler"
            id="fr.obeo.dsl.arduino.commands.openSketch"
            name="Open sketch">
      </command>
      <command
            defaultHandler="fr.obeo.dsl.arduino.commands.DeleteSketchHandler"
            id="fr.obeo.dsl.arduino.commands.deleteSketch"
            name="Delete sketch">
      </command>
      <command
            defaultHandler="fr.obeo.dsl.arduino.commands.NewHardwareHandler"
            id="fr.obeo.dsl.arduino.commands.newHardware"
            name="New hardware">
      </command>
      <command
            defaultHandler="fr.obeo.dsl.arduino.commands.OpenHardwareHandler"
            id="fr.obeo.dsl.arduino.commands.openHardware"
            name="Open hardware">
      </command>
      <command
            defaultHandler="fr.obeo.dsl.arduino.commands.NewHardwareKitHandler"
            id="fr.obeo.dsl.arduino.commands.newHardwareKit"
            name="New Hardware Kit">
      </command>
      <command
            defaultHandler="fr.obeo.dsl.arduino.commands.DeleteHardwareHandler"
            id="fr.obeo.dsl.arduino.commands.deleteHardware"
            name="Delete hardware">
      </command>
      <command
            defaultHandler="fr.obeo.dsl.arduino.commands.OpenHardwareKitHandler"
            id="fr.obeo.dsl.arduino.commands.openHardwareKit"
            name="OpenHardware Kit">
      </command>
      <command
            defaultHandler="fr.obeo.dsl.arduino.commands.DeleteHardwareKitHandler"
            id="fr.obeo.dsl.arduino.commands.deleteHardwareKit"
            name="Delete Hardware Kit">
      </command>
      <command
            defaultHandler="fr.obeo.dsl.arduino.commands.NewSketchHandler"
            id="fr.obeo.dsl.arduino.menus.commands.sketch"
            name="Sketch">
      </command>
      <command
            defaultHandler="fr.obeo.dsl.arduino.commands.NewHardwareHandler"
            id="fr.obeo.dsl.arduino.menus.commands.hardware"
            name="Hardware">
      </command>
      <command
            defaultHandler="fr.obeo.dsl.arduino.commands.NewHardwareKitHandler"
            id="fr.obeo.dsl.arduino.menus.commands.hardwareKit"
            name="Hardware Kit">
      </command>
      <command
            defaultHandler="fr.obeo.dsl.arduino.commands.NewProjectHandler"
            id="fr.obeo.dsl.arduino.menus.commands.project"
            name="Project">
      </command>
      <command
            defaultHandler="fr.obeo.dsl.arduino.commands.NewProjectHandler"
            id="fr.obeo.dsl.arduino.commands.newProject"
            name="New project">
      </command>
      <command
            defaultHandler="fr.obeo.dsl.arduino.commands.DeleteProjectHandler"
            id="fr.obeo.dsl.arduino.commands.deleteProject"
            name="Delete project">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:fr.obeo.dsl.arduino.menus.commands.project">
         <command
               commandId="fr.obeo.dsl.arduino.commands.newProject"
               icon="icons/project.png"
               label="New project"
               style="push"
               tooltip="Create a new arduino project">
         </command>
         <command
               commandId="fr.obeo.dsl.arduino.commands.deleteProject"
               icon="icons/delete.png"
               label="Delete project"
               style="push"
               tooltip="Delete an existing project">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:fr.obeo.dsl.arduino.menus.commands.sketch">
         <command
               commandId="fr.obeo.dsl.arduino.commands.newSketch"
               icon="icons/newSketch.png"
               label="New sketch"
               style="push"
               tooltip="Define a new sketch">
         </command>
         <command
               commandId="fr.obeo.dsl.arduino.commands.openSketch"
               icon="icons/openSketch.png"
               label="Open sketch"
               style="push"
               tooltip="Open an existing sketch">
         </command>
         <command
               commandId="fr.obeo.dsl.arduino.commands.deleteSketch"
               icon="icons/delete.png"
               label="Delete sketch"
               style="push"
               tooltip="Delete an existing sketch">
         </command>
      </menuContribution>
            <menuContribution
                  allPopups="false"
                  locationURI="menu:fr.obeo.dsl.arduino.menus.commands.hardware">
               <command
                     commandId="fr.obeo.dsl.arduino.commands.newHardware"
                     icon="icons/newHardware.png"
                     label="New hardware"
                     style="push"
                     tooltip="Define a new hardware layout">
               </command>
               <command
                     commandId="fr.obeo.dsl.arduino.commands.openHardware"
                     icon="icons/openHardware.png"
                     label="Open hardware"
                     style="push"
                     tooltip="Open an existing hardware layout">
               </command>
               <command
                     commandId="fr.obeo.dsl.arduino.commands.deleteHardware"
                     icon="icons/delete.png"
                     label="Delete hardware"
                     style="push"
                     tooltip="Delete an existing hardware layout">
               </command>
            </menuContribution>
            <menuContribution
                  allPopups="false"
                  locationURI="menu:fr.obeo.dsl.arduino.menus.commands.hardwareKit">
               <command
                     commandId="fr.obeo.dsl.arduino.commands.newHardwareKit"
                     icon="icons/newHardwareKit.png"
                     label="New hardware kit"
                     style="push"
                     tooltip="Define a new hardware kit">
               </command>
               <command
                     commandId="fr.obeo.dsl.arduino.commands.openHardwareKit"
                     icon="icons/openHardwareKit.png"
                     label="Open hardware kit"
                     style="push"
                     tooltip="Open an existing hardware kit">
               </command>
               <command
                     commandId="fr.obeo.dsl.arduino.commands.deleteHardwareKit"
                     icon="icons/delete.png"
                     label="Delete hardware kit"
                     style="push"
                     tooltip="Delete an existing hardware kit">
               </command>
            </menuContribution>
            <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="fr.obeo.dsl.arduino.menus.toolbar">
            <command
                  commandId="fr.obeo.dsl.arduino.menus.commands.project"
                  icon="icons/project.png"
                  label="Project"
                  style="pulldown"
                  tooltip="Create a new arduino project">
            </command>
            <command
                  commandId="fr.obeo.dsl.arduino.menus.commands.hardwareKit"
                  icon="icons/newHardwareKit.png"
                  label="Hardware Kit"
                  style="pulldown"
                  tooltip="Create a new hardware kit">
            </command>
            <command
                  commandId="fr.obeo.dsl.arduino.menus.commands.hardware"
                  icon="icons/newHardware.png"
                  label="Hardware"
                  style="pulldown"
                  tooltip="Create a new hardawre">
            </command>
            <command
                  commandId="fr.obeo.dsl.arduino.menus.commands.sketch"
                  icon="icons/newSketch.png"
                  label="Sketch"
                  style="pulldown"
                  tooltip="Create a new sketch">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="fr.obeo.dsl.arduino.category"
            name="Arduino">
      </category>
      <wizard
            category="fr.obeo.dsl.arduino.category"
            class="fr.obeo.dsl.arduino.wizard.ArduinoProjectWizard"
            finalPerspective="fr.obeo.dsl.viewpoint.ui.tools.perspective.modeling"
            icon="icons/project.png"
            id="fr.obeo.dsl.arduino.wizard"
            name="Arduino Project"
            preferredPerspectives="fr.obeo.dsl.viewpoint.ui.tools.perspective.modeling"
            project="true">
      </wizard>
   </extension>

</plugin>
