<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="fr.obeo.dsl.arduino.commands.OpenSketchHandler"
            id="fr.obeo.dsl.arduino.commands.openSketch"
            name="Open sketch">
      </command>
      <command
            defaultHandler="fr.obeo.dsl.arduino.commands.OpenHardwareHandler"
            id="fr.obeo.dsl.arduino.commands.openHardware"
            name="Open hardware">
      </command>
      <command
            defaultHandler="fr.obeo.dsl.arduino.commands.OpenHardwareKitHandler"
            id="fr.obeo.dsl.arduino.commands.openHardwareKit"
            name="Open hardware kit">
      </command>
      <command
            defaultHandler="fr.obeo.dsl.arduino.commands.OpenDashboardHandler"
            id="fr.obeo.dsl.arduino.menus.commands.project"
            name="Open dashboard">
      </command>
      <command
            defaultHandler="fr.obeo.dsl.arduino.commands.NewProjectHandler"
            id="fr.obeo.dsl.arduino.commands.newProject"
            name="New project">
      </command>
      <command
            defaultHandler="fr.obeo.dsl.arduino.commands.DeleteProjectHandler"
            id="fr.obeo.dsl.arduino.commands.deleteProject"
            name="Delete project">
      </command>
      <command
            defaultHandler="fr.obeo.dsl.arduino.commands.OpenProjectHandler"
            id="fr.obeo.dsl.arduino.commands.openProject"
            name="Open project">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:fr.obeo.dsl.arduino.menus.commands.project">
         <command
               commandId="fr.obeo.dsl.arduino.commands.newProject"
               icon="icons/project.png"
               label="New project"
               style="push"
               tooltip="Create a new arduino project">
         </command>
         <command
               commandId="fr.obeo.dsl.arduino.commands.openProject"
               icon="icons/project.png"
               label="Open project"
               style="push"
               tooltip="Open an existing arduino project">
         </command>
         <command
               commandId="fr.obeo.dsl.arduino.commands.deleteProject"
               icon="icons/delete.png"
               label="Delete project"
               style="push"
               tooltip="Delete the currently opened project">
         </command>
      </menuContribution>
            <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="fr.obeo.dsl.arduino.menus.toolbar">
            <command
                  commandId="fr.obeo.dsl.arduino.menus.commands.project"
                  icon="icons/project.png"
                  label="Open dashboard"
                  style="pulldown"
                  tooltip="Open the dashboard">
            </command>
            <command
                  commandId="fr.obeo.dsl.arduino.commands.openHardwareKit"
                  icon="icons/newHardwareKit.png"
                  label="Hardware kit"
                  style="push"
                  tooltip="Define new hardware kit modules and platforms">
            </command>
            <command
                  commandId="fr.obeo.dsl.arduino.commands.openHardware"
                  icon="icons/newHardware.png"
                  label="Open hardware"
                  style="push"
                  tooltip="Open the hardware view">
            </command>
            <command
                  commandId="fr.obeo.dsl.arduino.commands.openSketch"
                  icon="icons/newSketch.png"
                  label="Open sketch"
                  style="push"
                  tooltip="Open the sketch">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="Arduino">
                  </equals>
               </with>
            </visibleWhen>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="fr.obeo.dsl.arduino.category"
            name="Arduino">
      </category>
      <wizard
            category="fr.obeo.dsl.arduino.category"
            class="fr.obeo.dsl.arduino.wizard.ArduinoProjectWizard"
            finalPerspective="fr.obeo.dsl.arduino.perspective"
            icon="icons/project.png"
            id="fr.obeo.dsl.arduino.wizard"
            name="Arduino Project"
            preferredPerspectives="fr.obeo.dsl.arduino.perspective"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="fr.obeo.dsl.arduino.perspective">
         <view
               closeable="false"
               id="org.eclipse.ui.views.ContentOutline"
               minimized="false"
               moveable="false"
               ratio="0.85f"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="fr.obeo.dsl.arduino.perspective.ArduinoPerspectiveFactory"
            fixed="true"
            icon="icons/project.png"
            id="fr.obeo.dsl.arduino.perspective"
            name="Arduino">
      </perspective>
   </extension>

</plugin>
