<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="fr.obeo.dsl.arduino.preferences.ArduinoPreferencesPage"
            id="fr.obeo.dsl.arduino.preferences.ArduinoPreferencePage"
            name="Arduino Designer">
      </page>
   </extension>

</plugin>
