<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="fr.obeo.dsl.arduino.commands.openSketch"
            name="Open sketch">
      </command>
      <command
            id="fr.obeo.dsl.arduino.commands.openHardware"
            name="Open hardware">
      </command>
      <command
            defaultHandler="fr.obeo.dsl.arduino.commands.OpenHardwareKitHandler"
            id="fr.obeo.dsl.arduino.commands.openHardwareKit"
            name="Open hardware kit">
      </command>
      <command
            defaultHandler="fr.obeo.dsl.arduino.commands.OpenDashboardHandler"
            id="fr.obeo.dsl.arduino.menus.commands.project"
            name="Open dashboard">
      </command>
      <command
            defaultHandler="fr.obeo.dsl.arduino.commands.NewProjectHandler"
            id="fr.obeo.dsl.arduino.commands.newProject"
            name="New project">
      </command>
      <command
            defaultHandler="fr.obeo.dsl.arduino.commands.DeleteProjectHandler"
            id="fr.obeo.dsl.arduino.commands.deleteProject"
            name="Delete project">
      </command>
      <command
            defaultHandler="fr.obeo.dsl.arduino.commands.OpenProjectHandler"
            id="fr.obeo.dsl.arduino.commands.openProject"
            name="Open project">
      </command>
      <command
            id="fr.obeo.dsl.arduino.commands.upload"
            name="Upload sketch">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:fr.obeo.dsl.arduino.menus.commands.project">
         <command
               commandId="fr.obeo.dsl.arduino.commands.newProject"
               icon="icons/project.png"
               label="New project"
               style="push"
               tooltip="Create a new arduino project">
         </command>
         <command
               commandId="fr.obeo.dsl.arduino.commands.openProject"
               icon="icons/project.png"
               label="Open project"
               style="push"
               tooltip="Open an existing arduino project">
         </command>
         <command
               commandId="fr.obeo.dsl.arduino.commands.deleteProject"
               icon="icons/delete.png"
               label="Delete project"
               style="push"
               tooltip="Delete the currently opened project">
         </command>
         <command
               commandId="fr.obeo.dsl.arduino.commands.openHardwareKit"
               icon="icons/newHardwareKit.png"
               label="Hardware kit"
               style="toggle"
               tooltip="Define new hardware kit modules and platforms">
         </command>
      </menuContribution>
            <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="fr.obeo.dsl.arduino.menus.toolbar">
            <command
                  commandId="fr.obeo.dsl.arduino.menus.commands.project"
                  icon="icons/project.png"
                  label="Open dashboard"
                  style="pulldown"
                  tooltip="Open the dashboard">
            </command>
            <command
                  commandId="fr.obeo.dsl.arduino.commands.openHardware"
                  icon="icons/newHardware.png"
                  label="Open hardware"
                  style="push"
                  tooltip="Open the hardware view">
            </command>
            <command
                  commandId="fr.obeo.dsl.arduino.commands.openSketch"
                  icon="icons/newSketch.png"
                  label="Open sketch"
                  style="push"
                  tooltip="Open the sketch">
            </command>
            <command
                  commandId="fr.obeo.dsl.arduino.commands.upload"
                  icon="icons/upload.png"
                  label="Upload sketch"
                  style="push"
                  tooltip="Upload the sketch on the arduino platform">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="fr.obeo.dsl.arduino.category"
            name="Arduino">
      </category>
      <wizard
            category="fr.obeo.dsl.arduino.category"
            class="fr.obeo.dsl.arduino.wizard.ArduinoProjectWizard"
            finalPerspective="fr.obeo.dsl.arduino.perspective"
            icon="icons/project.png"
            id="fr.obeo.dsl.arduino.wizard"
            name="Arduino Project"
            preferredPerspectives="fr.obeo.dsl.arduino.perspective"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="fr.obeo.dsl.arduino.perspective">
         <view
               closeable="false"
               id="org.eclipse.ui.views.ContentOutline"
               minimized="false"
               moveable="false"
               ratio="0.85f"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="fr.obeo.dsl.arduino.perspective.ArduinoPerspectiveFactory"
            fixed="true"
            icon="icons/project.png"
            id="fr.obeo.dsl.arduino.perspective"
            name="Arduino">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="fr.obeo.dsl.arduino.properties.ArduinoPropertyTester"
            id="fr.obeo.dsl.arduino.properties.arduinoPropertyTester"
            namespace="fr.obeo.dsl.arduino.properties"
            properties="existHardware,existSketch,validSketch"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fr.obeo.dsl.arduino.commands.OpenHardwareHandler"
            commandId="fr.obeo.dsl.arduino.commands.openHardware">
         <enabledWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="true"
                     operator="and">
                  <test
                        property="fr.obeo.dsl.arduino.properties.existHardware">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="fr.obeo.dsl.arduino.commands.OpenSketchHandler"
            commandId="fr.obeo.dsl.arduino.commands.openSketch">
         <enabledWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="true"
                     operator="and">
                  <test
                        property="fr.obeo.dsl.arduino.properties.existSketch">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="fr.obeo.dsl.arduino.commands.UploadSketchHandler"
            commandId="fr.obeo.dsl.arduino.commands.upload">
         <enabledWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="true"
                     operator="and">
                  <test
                        property="fr.obeo.dsl.arduino.properties.validSketch">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>

</plugin>
