<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="fr.obeo.dsl.arduino.commands.openSketch"
            name="Open sketch">
      </command>
      <command
            id="fr.obeo.dsl.arduino.commands.openHardware"
            name="Open hardware">
      </command>
      <command
            defaultHandler="fr.obeo.dsl.arduino.commands.OpenDashboardHandler"
            id="fr.obeo.dsl.arduino.menus.commands.project"
            name="Open dashboard">
      </command>
      <command
            id="fr.obeo.dsl.arduino.commands.upload"
            name="Upload sketch">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
            <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="fr.obeo.dsl.arduino.menus.toolbar">
            <command
                  commandId="fr.obeo.dsl.arduino.menus.commands.project"
                  icon="icons/project.png"
                  label="Open dashboard"
                  style="push"
                  tooltip="Open the dashboard">
            </command>
            <command
                  commandId="fr.obeo.dsl.arduino.commands.openHardware"
                  icon="icons/newHardware.png"
                  label="Open hardware"
                  style="push"
                  tooltip="Open the hardware view">
            </command>
            <command
                  commandId="fr.obeo.dsl.arduino.commands.openSketch"
                  icon="icons/newSketch.png"
                  label="Open sketch"
                  style="push"
                  tooltip="Open the sketch">
            </command>
            <command
                  commandId="fr.obeo.dsl.arduino.commands.upload"
                  icon="icons/upload.png"
                  label="Upload sketch"
                  style="push"
                  tooltip="Upload the sketch on the arduino platform">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="fr.obeo.dsl.arduino.category"
            name="Arduino">
      </category>
      <wizard
            category="fr.obeo.dsl.arduino.category"
            class="fr.obeo.dsl.arduino.wizard.ArduinoProjectWizard"
            finalPerspective="fr.obeo.dsl.arduino.perspective"
            icon="icons/project.png"
            id="fr.obeo.dsl.arduino.wizard"
            name="Arduino Project"
            preferredPerspectives="fr.obeo.dsl.arduino.perspective"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="fr.obeo.dsl.arduino.perspective">
         <view
               closeable="false"
               id="org.eclipse.ui.views.ContentOutline"
               minimized="false"
               moveable="false"
               ratio="0.85f"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               visible="true">
         </view>
         <hiddenMenuItem
               id="org.eclipse.ui.run">
         </hiddenMenuItem>
         <view
               closeable="false"
               id="fr.obeo.dsl.arduino.ui.dashboard"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="fr.obeo.dsl.arduino.perspective.ArduinoPerspectiveFactory"
            fixed="true"
            icon="icons/project.png"
            id="fr.obeo.dsl.arduino.perspective"
            name="Arduino">
         <description>
            Arduino Designer perspective
         </description>
      </perspective>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="fr.obeo.dsl.arduino.properties.ArduinoPropertyTester"
            id="fr.obeo.dsl.arduino.properties.arduinoPropertyTester"
            namespace="fr.obeo.dsl.arduino.properties"
            properties="existHardware,validHardware,validSketch"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="fr.obeo.dsl.arduino.commands.OpenHardwareHandler"
            commandId="fr.obeo.dsl.arduino.commands.openHardware">
         <enabledWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="true"
                     operator="and">
                  <test
                        property="fr.obeo.dsl.arduino.properties.existHardware">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="fr.obeo.dsl.arduino.commands.OpenSketchHandler"
            commandId="fr.obeo.dsl.arduino.commands.openSketch">
         <enabledWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="true"
                     operator="and">
                  <test
                        property="fr.obeo.dsl.arduino.properties.validHardware">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="fr.obeo.dsl.arduino.commands.UploadSketchHandler"
            commandId="fr.obeo.dsl.arduino.commands.upload">
         <enabledWhen>
            <with
                  variable="activeContexts">
               <iterate
                     ifEmpty="true"
                     operator="and">
                  <test
                        property="fr.obeo.dsl.arduino.properties.validSketch">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="fr.obeo.dsl.arduino.commands.PreferencesHandler"
            commandId="fr.obeo.dsl.arduino.commands.preferences">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="fr.obeo.dsl.arduino.ui.activity"
            name="ArduinoActivity">
      </activity>
      <activityPatternBinding
            activityId="fr.obeo.dsl.arduino.ui.activity"
            pattern="org.eclipse.ui.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="fr.obeo.dsl.arduino.ui.activity"
            pattern="org.eclipse.search.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="fr.obeo.dsl.arduino.ui.activity"
            pattern="org.eclipse.ui.run">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="fr.obeo.dsl.arduino.ui.activity"
            pattern="org.eclipse.amalgam.*">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="fr.obeo.dsl.arduino.views.DashboardView"
            icon="icons/project.png"
            id="fr.obeo.dsl.arduino.ui.dashboard"
            name="Dashboard"
            restorable="true">
      </view>
   </extension>

</plugin>
